div.gallery {
}

div.gallery img:hover {
  opacity: 80%;
}

#responsive img{
  margin: 0px 0px 0px 4px;
  width: 24.3vw;
  height: 24.3vw;
}

@media (max-width: 1800px) {
  #responsive img{
    width: 32.5vw;
    height: 32.5vw;
  }
}

@media (max-width: 1200px) {
  #responsive img{
    width: 46vw;
    height: 46vw;
  }
}

@media (max-width: 600px) {
  #responsive img {
    width: 96vw;
    height: 96vw;
  }
}
