div.gallery {
}

div.gallery img:hover {
  opacity: 80%;
}

#responsive img{
  margin: 0px 0px 0px 4px;
  width: 24.3vw;
  height: 24.3vw;
}

@media (max-width: 1500px) {
  #responsive img{
    width: 32.6vw;
    height: 32.6vw;
  }
}

@media (max-width: 500px) {
  #responsive img {
    width: 100%;
  }
}
